/* -*- coding: utf-8 -*-
 * :Project:   SoL -- Countdown page styles
 * :Created:   mer 27 apr 2016 10:25:43 CEST
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2016, 2022 Lele Gaifax
 */

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align: center;
}

.hint {
    font:normal 11px arial,tahoma,helvetica,sans-serif;
}

img {
    border: none;
}

.invisible {
    display: none;
}

#buttons {
    padding-top: 15px;
}

#stop-sign {
    width: 414px;
    animation: swing 2s ease-in-out infinite;
    transform-origin: center 23px;
}

@keyframes swing {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
