/* -*- coding: utf-8 -*-
 * :Project:   SoL
 * :Created:   sab 13 dic 2008 16:43:25 CET
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2008, 2009, 2010, 2013, 2014, 2018, 2020, 2023 Lele Gaifax
 */

details > summary {
  margin-bottom: 1em;
}

details > div {
  margin-bottom: 2em;
}

.centered, table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table caption {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

table.side-by-side td {
  vertical-align: top;
}

.top-header {
  font: italic 1.1em arial,tahoma,helvetica,sans-serif;
}

.rank-header, .player-header, .event-header, .total-header,
.competitor1-header, .competitor2-header, .competitors-header,
.score1-header, .score2-header, .scores-header, .tourney-header,
.date-header, .championship-header, .tourneys-header, .average-header,
.round-number-header {
  font: italic 0.8em arial,tahoma,helvetica,sans-serif;
}

.player, .competitor1, .competitor2, .partial-score, .score1, .score2, .tourney, .date,
.championship, .tourneys, .average {
  padding: 0.2em;
}

.scores {
  white-space: nowrap;
}

span.score1, span.score2 {
  padding: 0;
}

.partial-score, .ui.striped.table > tbody > tr.partial-score:nth-child(2n) {
  background: #ffe7d1;
  color: orange;
}

.partial-score.winner {
  color: darkred;
}

.rank, .event, .skipped-event, .total, .tourneys, .average {
  text-align: right;
  padding: 0.2em 0.5em;
}

.round-number {
  text-align: center;
  background: #f9fafb;
}

.skipped-event {
  text-decoration: line-through;
  color: lightgray;
}

.score1 {
  text-align: right;
}

.score2 {
  text-align: left;
}

.competitor1 {
  text-align: right;
}

.competitor2 {
  text-align: left;
}

table.ui.compact.table > tbody > tr > td.separator {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

table.ui.compact.table.breaker-1 > tbody > tr:nth-child(odd) > td:first-child {
  box-shadow: 0.2em 0 0 0 #00b5ad inset;
}

table.ui.compact.table.breaker-1 > tbody > tr:nth-child(even) > td:last-child {
  box-shadow: -0.2em 0 0 0 #00b5ad inset;
}

table.ui.compact.table.breaker-2 > tbody > tr:nth-child(even) > td:first-child {
  box-shadow: 0.2em 0 0 0 #00b5ad inset;
}

table.ui.compact.table.breaker-2 > tbody > tr:nth-child(odd) > td:last-child {
  box-shadow: -0.2em 0 0 0 #00b5ad inset;
}

.sortedby {
  font-weight: bold;
}

.phantom {
  color: green;
}

.center.aligned.winner, .winner, .winner a:link, .winner a:visited {
  color: darkblue;
  font-weight: bold;
}

.boards.table > tfoot > tr > td {
  font-size: 1.2em;
}

.logo {
  border: 0;
}

#emblem {
  border: 0;
  max-width: 120px;
  max-height: 120px;
}

.portrait {
  display: block;
  border: 0;
  max-width: 250px;
  max-height: 250px;
}

.footer {
  font: normal 9px arial,tahoma,helvetica,sans-serif;
}

#producer {
  float: left;
}

#generated {
  float: right;
}

#sol_logo {
  position: absolute;
  left: 5px;
  top: 5px;
}

#club_emblem {
  position: absolute;
  right: 5px;
  top: 5px;
}

h5, ol {
  margin-top: 5px;
  margin-bottom: 1px;
}


/* Override Semantic UI defaults */

.ui.mini.compact.buttons .ui.button {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

@media only screen and (max-width: 640px) {
  h1 {
    margin-top: 48px;
  }

  #emblem, .logo {
    max-width: 48px;
    max-height: 48px;
  }

  .wide-only {
    display: none;
  }
}

@media only screen and (min-width: 640.1px) {
  .narrow-only {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  /* Avoid overly wide tables on big screens */
  table.ui.small.definition.table {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  table.ui.compact.table {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
  }
}
